
.section-2 {
	background-color: #111111;
	color: #ffffff;
	}
	.section-2__content-wrapper {
	width: 100%;
	}
	.section-2__content {
	display: grid;
	grid-template-columns: 1fr 1fr ;
	
	width: 100%;
	
	}
	.section-2__content-block {
		display: flex;
		align-items: flex-start;
	}

	.section-2__content-block-txt-wrapper {
	
		padding: 0.5rem;
	
	}


	.section-2__content-block-title 
{
	color: #ffffff;
	margin: 0 auto;
	@include font-size__medium;

	
&::before
{
content: '';

display:inline-block ;

background-size: 2rem;
background-position: left;
background-repeat: no-repeat;
padding:  1rem;
transform: translateY(0.5rem ) translateX(-0.5rem );
}

}
.section-2__content-block.section-2__content-block:nth-child(1)  .section-2__content-block-title 
{
	&::before
{
background-image: url(../img/section-2/1.png);

}
}
.section-2__content-block.section-2__content-block:nth-child(2)  .section-2__content-block-title 
{
	&::before
{
	background-image: url(../img/section-2/2.png);
}
}
.section-2__content-block.section-2__content-block:nth-child(3)  .section-2__content-block-title 
{
	&::before
{
	background-image: url(../img/section-2/3.png);
}
}
.section-2__content-block.section-2__content-block:nth-child(4)  .section-2__content-block-title 
{
	&::before
{
	background-image: url(../img/section-2/4.png);
}
}


	.section-2__content-block-subtitle 
	{
	margin:1em 0 ;
	color: #ffffff;
	@include font-size__small;
	}
	



	@media screen and (max-width: 992px) 
{

	.section-2__content-block-subtitle {
		letter-spacing: 2px;
	}
	.section-2__content-block-title {
		letter-spacing: 2px;
	}
}


@media screen and (max-width: 769px) 
{
	.section-2__content 
	{
	display: grid;
	grid-template-columns: 1fr;

	
	}
}

@media screen and (max-width: 576px) 
{

}